<h1>Bienvenidos</h1>

<div row>
  <div class="jumbotron col-sm-10">
    <h1>Biblioteca Tambillo</h1>
    <p><a class="btn btn-primary btn-lg" href="/crearLibro" role="button">Registrar Libro</a> <a class="btn btn-primary btn-lg" href="/listarLibros" role="button">Listar Libros</a>
      <a class="btn btn-primary btn-lg" href="/buscarLibros" role="button">Buscar Libros</a></p>
  </div>

</div>
